{% block Accountcontent %}
<script>
    function follow(username) {
        endpoint = `http://localhost:8080/follow/${username}`;
        console.log(endpoint);
        fetch(endpoint, {
            method: "DELETE"
        });
        location.reload();
    }
    function unfollow(username) {
        endpoint = `http://localhost:8080/unfollow/${username}`;
        console.log(endpoint);
        fetch(endpoint, {
            method: "DELETE"
        });
        location.reload();
    }
</script>
{% if accounts %}
<div class="container mt-5">
    <h3>Results</h3>
    <table class="table">
        <tbody>
        {% for account in accounts %}
        <tr>
            <th class="account" scope="row">
                <a href="/viewProfile/{{ account.username }}">{{ account.username }}</a>
                {% if account.followeeStatus == 'followee' %}
                <button onclick="unfollow('{{ account.username }}')"> unfollow </button>
                {% elif account.followeeStatus == 'not followee' %}
                <button onclick="follow('{{ account.username }}')"> follow </button>
                {% endif %}
            </th>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endif %}
{% endblock %}