{% extends "templates/base.jinja" %}
{% block content %}
    {% for comment in comments %}
        <div class="comment">
            <p>author: {{ comment.author }}</p>
            <p>time posted: {{ comment.timePosted }} </p>
            <p>comment: {{ comment.content }} </p>
        </div>
    {% endfor %}
    <form action="/addComment/{{ postId }}" method="post">
        <div class="form-group">
            <label for="comment">comment</label>
            <input type="text" id="comment" name="comment">
        </div>
        <button type="submit" class="btn btn-primary">comment</button>
    </form>
{% endblock content %}