{% extends "templates/base.jinja" %}
{% block content %}
    <form action="{{ action }}" method="{{ method }}">
        {% for field in fields %}
            <div class="form-group">
                <label for="{{ field.id }}"> {{ field.label }} </label>
                <input type="{{ field.type }}" id="{{ field.id }}" name="{{ field.label }}">
            </div>
        {% endfor %}
        <button type="submit" class="btn btn-primary">{{ submitBtnName }}</button>
        {{ errorMessage }}
    </form>
{% endblock content %}