{% extends "templates/base.jinja" %}
{% block content %}
    <div class="container">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Login time</th>
                </tr>
            </thead>
            <tbody>
                {% for date in dates %}
                    <tr>
                        <td>{{ date }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

{% endblock content %}