{% extends "templates/base.jinja" %}
{% block content %}

    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-md-8 col-lg-6 col-xl-5">
                <div class="card" style="border-radius: 1rem;">
                    <div class="card-body p-5 text-center">

                        <form action="{{ action }}" method="{{ method }}">
                            {% for field in fields %}
                                <div class="form-outline mb-4">
                                    <label class="form-label" for="{{ field.id }}"> {{ field.label }} </label>
                                    <input type="{{ field.type }}" id="{{ field.id }}" name="{{ field.label }}" class="form-control"
                                    placeholder="Enter {{ field.id }}">
                                </div>
                            {% endfor %}
                            <button type="submit" class="btn btn-primary">{{ submitBtnName }}</button>
                            <p> Don't have an account? </p> <a href="signUp"> Sign up </a>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock content %}

<!-- From https://mdbootstrap.com/snippets/standard/mdbootstrap/2957851?view=side -->