{% extends "templates/base.jinja" %}
{% block content %}
    {% for request in requests %}
        <a href="{{ request.endpoint }}"> {{ request.description }} </a>
    {% endfor %}
{% endblock content %}