{% extends "templates/base.jinja" %}

{% block head %}
    <script>
        function deletePost(postId) {
            endpoint = `http://localhost:8080/deletePost/${postId}`;
            console.log(endpoint);
            fetch(endpoint, {
                method: "DELETE"
            });
            location.reload();
        }
    </script>
{% endblock %}

{% block content %}
    {% for post in posts %}
        <div class="post">
            <p> time: {{ post.timePosted }} </p>
            <p> author: {{ post.author }} </p>
            <p> title: {{ post.title }} </p>
            <p> content: {{ post.content }} </p>
            <button onclick="deletePost('{{ post.id }}')"> delete post</button>
            <form action="/addComment/{{ post.id }}" method="post">
                <div class="form-group">
                    <label for="{{ post.id }}"> comment </label>
                    <input type="text" id="{{ post.id }}" name="comment">
                </div>
                <button type="submit" class="btn btn-primary"> add comment </button>
            </form>
            <button href="viewComments/{{ post.id }}">view comments</button>
        </div>
    {% endfor %}
{% endblock content %}