{% block head %}
    <script>
        function deletePost(postId) {
            endpoint = `http://localhost:8080/deletePost/${postId}`;
            console.log(endpoint);
            fetch(endpoint, {
                method: "DELETE"
            });
            location.reload();
        }
    </script>
{% endblock %}

{% block content %}
    {% for post in posts %}
        <div class="post">
            <p> time: {{ post.timePosted }} </p>
            <p> author: {{ post.author }} </p>
            <p> title: {{ post.title }} </p>
            {% if author == post.author or isAdmin %}
                <button onclick="deletePost('{{ post.id }}')"> delete post</button>
            {% endif %}
            <a href="/viewComments/{{ post.id }}">view comments</a>
            <a href="/viewPost/{{ post.id }}">view post</a>
        </div>
    {% endfor %}
{% endblock content %}