{% extends "templates/base.jinja" %}
{% include "templates/posts.jinja" %}

{% block head %}
{% block Posthead %}{% endblock %}
{% endblock %}

{% block content %}
{% if followStatus is defined%}
{% endif %}
{{username}}
{% block Postcontent %}{% endblock %}
{% endblock %}