{% extends "templates/navbarBase.jinja" %}
{% set active_page = "search" %}
{% include "templates/posts.jinja" %}

{% block head %}
<script>
function follow(username) {
    endpoint = `http://localhost:8080/follow/${username}`;
    console.log(endpoint);
    fetch(endpoint, {
        method: "DELETE"
    });
    location.reload();
}
function unfollow(username) {
    endpoint = `http://localhost:8080/unfollow/${username}`;
    console.log(endpoint);
    fetch(endpoint, {
        method: "DELETE"
    });
    location.reload();
}
function promote(username) {
    endpoint = `http://localhost:8080/promote/${username}`;
    console.log(endpoint);
    fetch(endpoint, {
        method: "DELETE"
    });
    location.reload();
}
function deleteUser(username) {
    endpoint = `http://localhost:8080/deleteUser/${username}`;
    console.log(endpoint);
    fetch(endpoint, {
        method: "DELETE"
    });
    window.location.replace("/")
}
function ban(username) {
    endpoint = `http://localhost:8080/ban/${username}`;
    console.log(endpoint);
    fetch(endpoint, {
        method: "DELETE"
    });
    location.reload();
}
function unban(username) {
    endpoint = `http://localhost:8080/unban/${username}`;
    console.log(endpoint);
    fetch(endpoint, {
        method: "DELETE"
    });
    location.reload();
}
</script>
{% block Posthead %}{% endblock %}
{% endblock %}

{% block content %}

<div class="container mt-5 pb-3 mb-5" style="border-bottom: 1px solid gray">
    <div class="row">
        <div class="col-sm">
            <h1>{{username}}</h1>
        </div>
        <div class="col-sm">
            <a href="/followers/{{ username }}">View Followers</a>
            <p>{{followers}}</p>
        </div>
        <div class="col-sm">
            <a href="/following/{{ username }}">View Following</a>
            <p>{{following}}</p>
        </div>
    </div>

    {% if followStatus is defined%}
        {% if followStatus is true %}
            <button type="button" class="btn btn-primary btn-md btn-block mt-3" onclick="unfollow('{{ username }}')"> Unfollow </button>
        {% else %}
            <button type="button" class="btn btn-secondary btn-md btn-block mt-3" onclick="follow('{{ username }}')"> Follow </button>
        {% endif %}

        {% if permissions %}
            <div class="row mt-3">
                {% if not userIsAdmin and not userIsBanned%}
                    <div class="col-sm">
                        <button type="button" class="btn btn-info btn-sm" onclick="promote('{{ username }}')"> Promote </button>
                    </div>
                {% endif %}
                {% if not userIsAdmin %}
                    <div class="col-sm">
                        <button type="button" class="btn btn-info btn-sm" onclick="deleteUser('{{ username }}')"> Delete user </button>
                    </div>
                {% endif%}
                {% if not userIsAdmin and not userIsBanned %}
                    <div class="col-sm">
                        <button type="button" class="btn btn-info btn-sm" onclick="ban('{{ username }}')"> Ban </button>
                    </div>
                {% elif userIsBanned %}
                    <div class="col-sm">
                        <button type="button" class="btn btn-info btn-sm" onclick="unban('{{ username }}')"> Unban </button>
                    </div>
                {% endif %}
            </div>
        {% endif %}
        <br>
    {% endif %}
</div>

{% block Postcontent %}{% endblock %}
{% endblock %}