{% extends "templates/base.jinja" %}
{% include "templates/posts.jinja" %}

{% block head %}
<script>
function follow(username) {
    endpoint = `http://localhost:8080/follow/${username}`;
    console.log(endpoint);
    fetch(endpoint, {
        method: "DELETE"
    });
    location.reload();
}
function unfollow(username) {
    endpoint = `http://localhost:8080/unfollow/${username}`;
    console.log(endpoint);
    fetch(endpoint, {
        method: "DELETE"
    });
    location.reload();
}
</script>
{% block Posthead %}{% endblock %}
{% endblock %}

{% block content %}

{{username}}
<a href="/followers/{{ username }}">View Followers</a>
<a href="/following/{{ username }}">View Following</a>
{% if followStatus is defined%}
    {% if followStatus is true %}
        <button onclick="unfollow('{{ username }}')"> unfollow </button> <br>
    {% else %}
        <button onclick="follow('{{ username }}')"> follow </button> <br>
    {% endif %}
{% endif %}

{% block Postcontent %}{% endblock %}
{% endblock %}