{% extends "templates/base.jinja" %}
{% include "templates/accounts.jinja" %}

{% block content %}
<div class="container">
    <form action="/searchUsernameResults" method="get">
        {% for field in fields %}
        <div class="form-group mb-4">
            <label class="form-label" for="{{ field.id }}"> {{ field.label }} </label>
            <input type="{{ field.type }}" id="{{ field.id }}" name="{{ field.id }}" class="form-control"
                   placeholder="Enter {{ field.id }}">
        </div>
        {% endfor %}
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>

{% block Accountcontent %}{% endblock %}
{% endblock content %}